/*.color-set{*/
/*!*!black*!*/
/*#000101*/
/*#262626*/
/*!*!red*!*/
/*#dc143c*/
/*#ff1493*/
/*!*!green*!*/
/*#00cc00*/
/*#67b168*/
/*!*!yellow*!*/
/*#ff8c00*/
/*#ffff00*/
/*!*!blue*!*/
/*#0078F8*/
/*#3CBCFC*/
/*!*!magenta*!*/
/*#ff00ff*/
/*#ee82ee*/
/*!*!cyan*!*/
/*#00ffff*/
/*#48d1cc*/
/*!*!white*!*/
/*#eeeeee*/
/*#ffffff*/
/*}*/

body {
    font-family: 'Lato', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', 'STHeiti', 'Droid Sans', sans-serif;
}

header{
    font-family: 'Cutive Mono', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-shadow: none;
    letter-spacing: -3px;
}
header .dropdown-menu {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -2px;
}
.navbar-brand {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 32px;
    font-weight: 600;
    text-shadow: none;
    letter-spacing: 0px;
}
.navbar-header a:hover{
    color: #fff;
}
.page-title {
    text-align: center;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 36px;
    font-weight: 600;
    /*text-shadow: 1px 1px #efefef, 2px 2px #AEE2D9;*/
}
.post-title {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 600;
}
.card[lang="cn"] .post-title {
    font-family: 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', 'STHeiti', 'Droid Sans', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}

[lang="cn"] h1,
[lang="cn"] h2,
[lang="cn"] h3,
[lang="cn"] h4,
[lang="cn"] h5,
[lang="cn"] h6 {
    font-family: 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', 'STHeiti', 'Droid Sans', sans-serif;
    font-weight: normal;
}

.pagination {
    font-weight: 900;
}

footer {
    font-family: 'Cutive Mono', sans-serif;
    font-size: x-large;
    font-weight: 900;
    text-shadow: none;
    text-align: center;
    background-color: #333;
    color: #fff;
}

footer span[lang="cn"] {
    font-family: 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', sans-serif;
    font-size: large;
    font-weight: 100;
    text-align: left;
}

footer .copyright {
    font-family: 'Lato', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', sans-serif;
    font-size: medium;
    font-weight: 300;
}

footer #contacts{
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

footer ul{
    padding-bottom: 10px;
    float: left;
    list-style: none;
    font-size: 0.9em;
}

footer #details{
    font-size: 0.8em;
}
footer span{
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    width: 120px;
}


/*.post-text > p{*/
    /*margin-bottom: 1em;*/
/*}*/

.list-item-ul{
    font-size: 25px;
    font-weight: 500;
    list-style-type: none;
}
.list-item-ul>li{
    margin-top: 10px;
}
.list-item-ul a{
    text-decoration: none;
    color: inherit;
}
.list-item-ul a:hover{
    color: #563d7c;
    border-left: 2px solid rgba(255, 44, 44, 0.4);
    padding-left: 3px;
}

/* tag_box */
.tag_box {
    font-size: 26px;
    font-weight: 400;
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.tag_box li {
    margin: 5px 3px 5px 2px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 0;
    background: transparent;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a:hover {
    background-color: rgba(205, 73, 255, 0.3);
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

.jumbotron {
    margin-bottom: 0;
    background-size: cover;
    background: url(/files/about/sketch.png);
}

.backToTop {
    display: block;
    /*width: 40px;*/
    /*height: 32px;*/
    /*font-size: 26px;*/
    /*line-height: 32px;*/
    /*font-family: verdana, arial;*/
    /*padding: 5px 0;*/
    /*background-color: #000;*/
    /*color: #fff;*/
    text-align: center;
    position: fixed;
    /*position: absolute;*/
    /*right: 10px;*/
    bottom: 100px;
    /*_bottom: "auto";*/
    cursor: pointer;
    opacity: .6;
    /*filter: Alpha(opacity=60);*/
}

.audiojs {
    margin: 7px 0 5px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
}

/* sidebar */
.bs-docs-sidebar {
    font-size: 24px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-header[lang="cn"] h1{
    font-weight: 500;
}
.post-text {
    font-family: 'Cutive Mono', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-align: justify;
    letter-spacing: -2px;
}
.post-text[lang="cn"] {
    font-family: 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', sans-serif;
    letter-spacing: 1px;
}


.post-sidebar {
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
    color: #999;
    padding: 4px 20px;
    /*add trasnparent border */
    border-left: 2px solid transparent;
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}

.post-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
}

.post-sidebar .nav .nav > li > a .ic{
    color: rgba(255, 44, 44, 0.4);
    background-color: transparent;
    margin-right: 5px;
}


/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.post-sidebar .nav > li > span {
    /*color: #563d7c;*/
    text-decoration: none;
    /*background-color: transparent;*/
}

.post-sidebar .nav .nav > li > a{
    color: inherit;
}

.post-sidebar .nav .nav > li > a:hover {
    /*color: #563d7c;*/
    text-decoration: none;
    background-color: rgba(205, 73, 255, 0.3);
    /*border-left: 2px solid #563d7c;*/
}


/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
    display: block;
}

.pagination>li>a{
    color: rgba(255, 44, 44, 0.4);
}

.pagination>li>a:hover{
    color: rgba(255, 44, 44, 0.4);
}

.pagination>.active>span{
    background-color: rgba(255, 44, 44, 0.4);
    border-color: rgba(255, 44, 44, 0.4);
}

.pagination>.active>span:hover{
    background-color: rgba(255, 44, 44, 0.4);
    border-color: rgba(255, 44, 44, 0.4);
}

/*.shot-item{*/
    /*!*border: 6px rgba(255, 44, 44, 0.4);*!*/
    /*!*background-color: #FFFACD;*!*/
    /*background-color: rgba(255, 44, 44, 0.2); !*rgba(255, 255, 6, 0.5);*!*/
    /*margin-bottom: 10px;*/
/*}*/

/*.shot-item:hover{*/
    /*background-color: rgba(255, 44, 44, 0.4);*/
    /*!*border-color: #FFFACD;*!*/
/*}*/