.navbar-header {
    background-color: #fff;
    border-bottom: 1px solid #000101;
}
.navbar-brand {
    padding: auto;
    font-size: large;
    color: #000101;
    text-shadow: none;
}
.navbar-header a:hover{
    color: #000101;
}
header .navbar-toggle>.icon-bar{
    background-color: #000101;
}
header{
    font-size: large;
}
.nav li{
    background-color: #fff;
    border-bottom: 1px solid #000101;
}
.nav>li a{
    color: #000101;
}
.nav li ul{
    padding: 0;
    border-bottom: 1px solid #000101 !important;
    border-top: 2px solid #000101 !important;
}
.post-row .col-sm-12 {
    margin-bottom: 1em;
}

.post-row .card {
    padding: 10px 5px 10px 3%;
}

.post-row > a{
    color: #333;
}

.post-row .card > p{
    color: #000101;
    font-size: 1.4em;
}
.post-row .card[lang="cn"] > p{
    font-size: 1.2em;
}

.post-row > a:hover{
    text-decoration: none;
}

.post-row > a > .post-i{
    margin-bottom: 20px;
    background-color: rgba(205, 73, 255, 0.3);
}

.post-row > .shot-i{
    margin-bottom: 20px;
    background-color: #FFFACD;
}

.list-item-ul a{
    padding-left: 3px;
    border-left: 2px solid rgba(255, 44, 44, 0.4);
}

.post-i {
    background-color: rgba(0, 120, 248, 0.3);
    border: 2px dashed #0078f8;
    color: #000101;
}

.post-i .post-title{
    border-bottom: 1px dotted #0078f8;
}

.post-title{
    font-size: 1.5em;
}

.shot-i {
    background-color: rgba(220, 20, 52, 0.3);
    border: 2px dashed #dc1434;
    color: #000101;
}

.shot-i .post-title{
    border-bottom: 1px dotted #dc1434;
}

.back {
    display: none;
}

#details {
    padding: 10px 0 0 0;
    margin: 0;
}
footer{
    border-top: 1px solid #000101;
    background-color: #fff;
    color: #000101;
}
footer a{
    color: #000101;
}
footer a:hover{
    text-decoration: none;
}